{
  presets: [
    ['env', {
      targets: { node: 6 },
      include: ['transform-es2015-classes'],
      useBuiltIns: true,
      spec: true
    }]
  ],
  "plugins": [
    ["transform-builtin-extend", { "globals": ["Error"] }],
    "transform-object-rest-spread",
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
